window {
  background-color: #171717;
  border: 2px solid #4c90b0;
}

* {
  font-family: "Jetbrains Mono Nerd Font";
  color: #fff;
}

#scroll {
  padding: 0.5rem;
}

#input {
  background-color: #262626;
  outline: none;
  box-shadow: none;
  border: 2px solid #4c90b0;
  border-bottom: 0px;
  border-radius: 0;
  font-size: 1.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#inner-box {
  margin: 0.5rem;
  font-size: 1rem;
}

#img {
  margin: 10px 10px;
}

#entry {
  border-radius: 0.5rem;
}

#entry:selected {
  background-color: #262626;
  outline: none;
}
